body {
	background-color: #111;
	color: #fff;
	font-family: sans-serif;
}

#reset {
	margin-top: 100px;
	width: 4.5em;
	height: 2em;
	appearance: none;
	background-color: #181A1B;
	color: white;
	border-style: none;
	border-radius: 12px;
}

.counter .label {
	width: 100px;
	display:inline-block;
}

.counter .count {
	width: 50px;
	display:inline-block;
	text-align: center;
}

.counter button {
	width: 2.5em;
	height: 1.5em;
	appearance: none;
	background-color: #181A1B;
	color: white;
	border-style: none;
	border-radius: 12px;
	margin-top: 5px;
}
